section.dr_container.wrapper.wrapper_lg 
    h2 Наші лікарі
    .doctors-wrapper.grid.col_4.gap_20#doctors(data-show-more data-item-selector=".doctors" data-button-selector=".show-more-btn" )
        figure.doctors 
            figcaption 
                picture 
                    img(src="img/bogatyriova.jpg", alt="")
                .description
                    h4 Богатирьова Вікторія Сергіївна
                    p Невропатолог
                    a.cta(href="#form" data-doctor="Богатирьова Вікторія Сергіївна (невропатолог)") Записатися на прийом 
        figure.doctors 
            figcaption 
                picture 
                    img(src="img/kamluk.jpg", alt="")
                .description
                    h4 Камлук Петро Леонідович
                    p Ортопед-травматолог, хірург
                    a.cta(href="#form" data-doctor="Камлук Петро Леонідович (Ортопед-травматолог, хірург)") Записатися на прийом 
        figure.doctors 
            figcaption 
                picture 
                    img(src="img/stefanovich.jpg", alt="")
                .description
                    h4 Стефанович Наталя Володимирівна
                    p Лікар з ультразвукової діагностики (УЗД) / Ендокринолог
                    a.cta(href="#form" data-doctor="Стефанович Наталя Володимирівна (Лікар з ультразвукової діагностики (УЗД) / Ендокринолог)") Записатися на прийом 
        figure.doctors 
            figcaption 
                picture 
                    img(src="img/sachalko.jpg", alt="")
                .description
                    h4  Сачалко Валентина Іванівна
                    p Дерматовенеролог
                    a.cta(href="#form" data-doctor="Сачалко Валентина Іванівна (Дерматовенеролог)") Записатися на прийом 
    p.cta_container
        a.cta.page_cta.transparent_cta.show-more-btn(data-target="doctors") Усі лікарі