header 
    .top_line
        .wrapper.flex-between.items-center 
            .logo 
                a(href="index.html").flex.items-center.gap_10
                    img(src="img/logo.png", alt="logo") 
                    span Центр
                        br
                        | Медичних послуг
            .contacts.flex.items-center
                a(href="tel:+380987474084").flex.items-center.gap_10
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M15.976 13.064C15.976 13.352 15.912 13.648 15.776 13.936C15.64 14.224 15.464 14.496 15.232 14.752C14.84 15.184 14.408 15.496 13.92 15.696C13.44 15.896 12.92 16 12.36 16C11.544 16 10.672 15.808 9.752 15.416C8.832 15.024 7.912 14.496 7 13.832C6.08 13.16 5.208 12.416 4.376 11.592C3.552 10.76 2.808 9.888 2.144 8.976C1.488 8.064 0.96 7.152 0.576 6.248C0.192 5.336 0 4.464 0 3.632C0 3.088 0.0959999 2.568 0.288 2.088C0.48 1.6 0.784 1.152 1.208 0.752C1.72 0.248 2.28 0 2.872 0C3.096 0 3.32 0.0480001 3.52 0.144C3.728 0.24 3.912 0.384 4.056 0.592L5.912 3.208C6.056 3.408 6.16 3.592 6.232 3.768C6.304 3.936 6.344 4.104 6.344 4.256C6.344 4.448 6.288 4.64 6.176 4.824C6.072 5.008 5.92 5.2 5.728 5.392L5.12 6.024C5.032 6.112 4.992 6.216 4.992 6.344C4.992 6.408 5 6.464 5.016 6.528C5.04 6.592 5.064 6.64 5.08 6.688C5.224 6.952 5.472 7.296 5.824 7.712C6.184 8.128 6.568 8.552 6.984 8.976C7.416 9.4 7.832 9.792 8.256 10.152C8.672 10.504 9.016 10.744 9.288 10.888C9.328 10.904 9.376 10.928 9.432 10.952C9.496 10.976 9.56 10.984 9.632 10.984C9.768 10.984 9.872 10.936 9.96 10.848L10.568 10.248C10.768 10.048 10.96 9.896 11.144 9.8C11.328 9.688 11.512 9.632 11.712 9.632C11.864 9.632 12.024 9.664 12.2 9.736C12.376 9.808 12.56 9.912 12.76 10.048L15.408 11.928C15.616 12.072 15.76 12.24 15.848 12.44C15.928 12.64 15.976 12.84 15.976 13.064Z" fill="#4ABCC4"/>
                    </svg>
                    span +38 098 747 40 84
                a(href="#contact").adress.flex.items-center.gap_10
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none">
                        <path d="M7.26514 0C10.7365 1.14265e-05 13.5502 2.77285 13.5503 6.19336C13.5503 9.61143 7.27442 15.9906 7.26514 16C7.26514 16 0.979004 9.61396 0.979004 6.19336C0.979107 2.77284 3.79375 0 7.26514 0ZM7.26514 2.58105C5.24019 2.58105 3.59825 4.19809 3.59814 6.19336C3.59814 8.18871 5.24012 9.80664 7.26514 9.80664C9.29014 9.80662 10.9321 8.1887 10.9321 6.19336C10.932 4.1981 9.29007 2.58107 7.26514 2.58105Z" fill="#4ABCC4"/>
                    </svg>
                    span
                        adress м. Хмельницький, вул. Подільська, 10
            .social.flex.gap_10
                a(href="#").tg
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <path class="path" d="M12.5248 0H12.4679C5.58205 0 0 5.5837 0 12.4715V12.5285C0 19.4163 5.58205 25 12.4679 25H12.5248C19.4106 25 24.9926 19.4163 24.9926 12.5285V12.4715C24.9926 5.5837 19.4106 0 12.5248 0Z" fill="#4ABCC4"/>
                        <path d="M18.5376 9.04425V11.4047C18.1252 11.3644 17.5893 11.2707 16.9965 11.0535C16.2225 10.7697 15.6463 10.3817 15.2689 10.0813V14.8522L15.2593 14.8373C15.2654 14.9319 15.2689 15.0282 15.2689 15.1254C15.2689 17.4947 13.3417 19.4233 10.9723 19.4233C8.60289 19.4233 6.67566 17.4947 6.67566 15.1254C6.67566 12.7562 8.60289 10.8266 10.9723 10.8266C11.2043 10.8266 11.432 10.845 11.6544 10.881V13.2073C11.4408 13.1311 11.2113 13.0899 10.9723 13.0899C9.85063 13.0899 8.93737 14.0026 8.93737 15.1254C8.93737 16.2483 9.85063 17.161 10.9723 17.161C12.094 17.161 13.0072 16.2474 13.0072 15.1254C13.0072 15.0834 13.0063 15.0413 13.0037 14.9993V5.7282H15.3617C15.3705 5.9279 15.3784 6.12935 15.3871 6.32905C15.4029 6.72232 15.543 7.09981 15.7873 7.409C16.0736 7.77248 16.4965 8.19465 17.0902 8.53186C17.6462 8.8463 18.1681 8.98206 18.5376 9.046V9.04425Z" fill="white"/>
                    </svg> 
                a.fb(href="#") 
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <g clip-path="url(#clip0_167_12)">
                            <path class="path" d="M12.4927 0C5.61768 0 -0.00732422 5.625 -0.00732422 12.5C-0.00732422 18.75 4.61768 23.875 10.4927 24.875V16.125H7.36768V12.5H10.4927V9.75C10.4927 6.625 12.3677 4.875 15.2427 4.875C16.6177 4.875 17.9927 5.125 17.9927 5.125V8.25H16.3677C14.8677 8.25 14.3677 9.25 14.3677 10.25V12.5H17.8677L17.3677 16.125H14.4927V24.875C20.3677 23.875 24.9927 18.75 24.9927 12.5C24.9927 5.625 19.3677 0 12.4927 0Z" fill="#4ABCC4"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_167_12">
                            <rect  width="25" height="25" fill="white" transform="translate(-0.00732422)"/>
                            </clipPath>
                        </defs>
                    </svg> 
                a.inst(href="#")
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <g clip-path="url(#clip0_167_14)">
                            <path d="M12.4927 23.375C18.5678 23.375 23.4927 18.4501 23.4927 12.375C23.4927 6.29987 18.5678 1.375 12.4927 1.375C6.41754 1.375 1.49268 6.29987 1.49268 12.375C1.49268 18.4501 6.41754 23.375 12.4927 23.375Z" fill="white"/>
                            <path  class="path" d="M12.4927 25C5.61768 25 -0.00732422 19.375 -0.00732422 12.5C-0.00732422 5.625 5.61768 0 12.4927 0C19.3677 0 24.9927 5.625 24.9927 12.5C24.9927 19.375 19.3677 25 12.4927 25ZM16.7427 7.375C16.2427 7.375 15.8677 7.75 15.8677 8.25C15.8677 8.75 16.2427 9.125 16.7427 9.125C17.2427 9.125 17.6177 8.75 17.6177 8.25C17.6177 7.75 17.2427 7.375 16.7427 7.375ZM12.6177 8.625C10.4927 8.625 8.74268 10.375 8.74268 12.5C8.74268 14.625 10.4927 16.375 12.6177 16.375C14.7427 16.375 16.4927 14.625 16.4927 12.5C16.4927 10.375 14.7427 8.625 12.6177 8.625ZM12.6177 15C11.2427 15 10.1177 13.875 10.1177 12.5C10.1177 11.125 11.2427 10 12.6177 10C13.9927 10 15.1177 11.125 15.1177 12.5C15.1177 13.875 13.9927 15 12.6177 15ZM20.4927 9.25C20.4927 6.625 18.3677 4.5 15.7427 4.5H9.49268C6.86768 4.5 4.74268 6.625 4.74268 9.25V15.5C4.74268 18.125 6.86768 20.25 9.49268 20.25H15.7427C18.3677 20.25 20.4927 18.125 20.4927 15.5V9.25ZM18.9927 15.5C18.9927 17.25 17.4927 18.75 15.7427 18.75H9.49268C7.61768 18.75 6.24268 17.375 6.24268 15.5V9.25C6.24268 7.5 7.61768 6 9.49268 6H15.7427C17.4927 6 18.9927 7.5 18.9927 9.25V15.5Z" fill="#4ABCC4"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_167_14">
                            <rect width="25" height="25" fill="white" transform="translate(-0.00732422)"/>
                            </clipPath>
                        </defs>
                    </svg> 
            .burger 
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <rect width="30" height="30" rx="5" fill="#EEEEEE"/>
                    <rect x="5" y="8" width="20" height="3" rx="1.5" fill="#4ABCC4"/>
                    <rect x="5" y="14" width="20" height="3" rx="1.5" fill="#4ABCC4"/>
                    <rect x="5" y="20" width="20" height="3" rx="1.5" fill="#4ABCC4"/>
                </svg>
            .close_burger
                <svg class="close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <rect width="30" height="30" rx="5" fill="#EEEEEE"/>
                    <rect x="7.00024" y="21" width="20" height="3" rx="1.5" transform="rotate(-45 7.00024 21)" fill="#4ABCC4"/>
                    <rect width="20" height="3" rx="1.5" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 23 21)" fill="#4ABCC4"/>
                </svg>
    .navigation_container.header_wrapper.wrapper
        nav.menu
            ul.items-center
                li
                    a(href="index.html") головна
                li
                    a(href="index.html#about") про нас
                li
                    a(href="index.html#doctors_section") лікарі
                li
                    a(href="index.html#form") Медичні довідки
                li
                    a(href="index.html#form") Медогляди
                li
                    a(href="index.html#review") відгуки
                li
                    a(href="index.html#contact") контакти
            .mobile_wrapper
                .contacts-mobile
                    p
                        a(href="tel:+380987474084").flex.items-center.gap_10
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M15.976 13.064C15.976 13.352 15.912 13.648 15.776 13.936C15.64 14.224 15.464 14.496 15.232 14.752C14.84 15.184 14.408 15.496 13.92 15.696C13.44 15.896 12.92 16 12.36 16C11.544 16 10.672 15.808 9.752 15.416C8.832 15.024 7.912 14.496 7 13.832C6.08 13.16 5.208 12.416 4.376 11.592C3.552 10.76 2.808 9.888 2.144 8.976C1.488 8.064 0.96 7.152 0.576 6.248C0.192 5.336 0 4.464 0 3.632C0 3.088 0.0959999 2.568 0.288 2.088C0.48 1.6 0.784 1.152 1.208 0.752C1.72 0.248 2.28 0 2.872 0C3.096 0 3.32 0.0480001 3.52 0.144C3.728 0.24 3.912 0.384 4.056 0.592L5.912 3.208C6.056 3.408 6.16 3.592 6.232 3.768C6.304 3.936 6.344 4.104 6.344 4.256C6.344 4.448 6.288 4.64 6.176 4.824C6.072 5.008 5.92 5.2 5.728 5.392L5.12 6.024C5.032 6.112 4.992 6.216 4.992 6.344C4.992 6.408 5 6.464 5.016 6.528C5.04 6.592 5.064 6.64 5.08 6.688C5.224 6.952 5.472 7.296 5.824 7.712C6.184 8.128 6.568 8.552 6.984 8.976C7.416 9.4 7.832 9.792 8.256 10.152C8.672 10.504 9.016 10.744 9.288 10.888C9.328 10.904 9.376 10.928 9.432 10.952C9.496 10.976 9.56 10.984 9.632 10.984C9.768 10.984 9.872 10.936 9.96 10.848L10.568 10.248C10.768 10.048 10.96 9.896 11.144 9.8C11.328 9.688 11.512 9.632 11.712 9.632C11.864 9.632 12.024 9.664 12.2 9.736C12.376 9.808 12.56 9.912 12.76 10.048L15.408 11.928C15.616 12.072 15.76 12.24 15.848 12.44C15.928 12.64 15.976 12.84 15.976 13.064Z" fill="#4ABCC4"/>
                            </svg>
                            | +38 098 747 40 84
                    p.adress.flex.items-center.gap_10
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 14 16" fill="none">
                            <path d="M7.26514 0C10.7365 1.14265e-05 13.5502 2.77285 13.5503 6.19336C13.5503 9.61143 7.27442 15.9906 7.26514 16C7.26514 16 0.979004 9.61396 0.979004 6.19336C0.979107 2.77284 3.79375 0 7.26514 0ZM7.26514 2.58105C5.24019 2.58105 3.59825 4.19809 3.59814 6.19336C3.59814 8.18871 5.24012 9.80664 7.26514 9.80664C9.29014 9.80662 10.9321 8.1887 10.9321 6.19336C10.932 4.1981 9.29007 2.58107 7.26514 2.58105Z" fill="#4ABCC4"/>
                        </svg>
                        span м. Хмельницький,
                            br
                            | вул. Подільська, 10
                .social-mobile.flex.gap_10
                    a(href="#").tg
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path class="path" d="M12.5248 0H12.4679C5.58205 0 0 5.5837 0 12.4715V12.5285C0 19.4163 5.58205 25 12.4679 25H12.5248C19.4106 25 24.9926 19.4163 24.9926 12.5285V12.4715C24.9926 5.5837 19.4106 0 12.5248 0Z" fill="#4ABCC4"/>
                            <path d="M18.5376 9.04425V11.4047C18.1252 11.3644 17.5893 11.2707 16.9965 11.0535C16.2225 10.7697 15.6463 10.3817 15.2689 10.0813V14.8522L15.2593 14.8373C15.2654 14.9319 15.2689 15.0282 15.2689 15.1254C15.2689 17.4947 13.3417 19.4233 10.9723 19.4233C8.60289 19.4233 6.67566 17.4947 6.67566 15.1254C6.67566 12.7562 8.60289 10.8266 10.9723 10.8266C11.2043 10.8266 11.432 10.845 11.6544 10.881V13.2073C11.4408 13.1311 11.2113 13.0899 10.9723 13.0899C9.85063 13.0899 8.93737 14.0026 8.93737 15.1254C8.93737 16.2483 9.85063 17.161 10.9723 17.161C12.094 17.161 13.0072 16.2474 13.0072 15.1254C13.0072 15.0834 13.0063 15.0413 13.0037 14.9993V5.7282H15.3617C15.3705 5.9279 15.3784 6.12935 15.3871 6.32905C15.4029 6.72232 15.543 7.09981 15.7873 7.409C16.0736 7.77248 16.4965 8.19465 17.0902 8.53186C17.6462 8.8463 18.1681 8.98206 18.5376 9.046V9.04425Z" fill="white"/>
                        </svg> 
                    a.fb(href="#") 
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <g clip-path="url(#clip0_167_12)">
                                <path class="path" d="M12.4927 0C5.61768 0 -0.00732422 5.625 -0.00732422 12.5C-0.00732422 18.75 4.61768 23.875 10.4927 24.875V16.125H7.36768V12.5H10.4927V9.75C10.4927 6.625 12.3677 4.875 15.2427 4.875C16.6177 4.875 17.9927 5.125 17.9927 5.125V8.25H16.3677C14.8677 8.25 14.3677 9.25 14.3677 10.25V12.5H17.8677L17.3677 16.125H14.4927V24.875C20.3677 23.875 24.9927 18.75 24.9927 12.5C24.9927 5.625 19.3677 0 12.4927 0Z" fill="#4ABCC4"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_167_12">
                                <rect  width="25" height="25" fill="white" transform="translate(-0.00732422)"/>
                                </clipPath>
                            </defs>
                        </svg> 
                    a.inst(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <g clip-path="url(#clip0_167_14)">
                                <path d="M12.4927 23.375C18.5678 23.375 23.4927 18.4501 23.4927 12.375C23.4927 6.29987 18.5678 1.375 12.4927 1.375C6.41754 1.375 1.49268 6.29987 1.49268 12.375C1.49268 18.4501 6.41754 23.375 12.4927 23.375Z" fill="white"/>
                                <path  class="path" d="M12.4927 25C5.61768 25 -0.00732422 19.375 -0.00732422 12.5C-0.00732422 5.625 5.61768 0 12.4927 0C19.3677 0 24.9927 5.625 24.9927 12.5C24.9927 19.375 19.3677 25 12.4927 25ZM16.7427 7.375C16.2427 7.375 15.8677 7.75 15.8677 8.25C15.8677 8.75 16.2427 9.125 16.7427 9.125C17.2427 9.125 17.6177 8.75 17.6177 8.25C17.6177 7.75 17.2427 7.375 16.7427 7.375ZM12.6177 8.625C10.4927 8.625 8.74268 10.375 8.74268 12.5C8.74268 14.625 10.4927 16.375 12.6177 16.375C14.7427 16.375 16.4927 14.625 16.4927 12.5C16.4927 10.375 14.7427 8.625 12.6177 8.625ZM12.6177 15C11.2427 15 10.1177 13.875 10.1177 12.5C10.1177 11.125 11.2427 10 12.6177 10C13.9927 10 15.1177 11.125 15.1177 12.5C15.1177 13.875 13.9927 15 12.6177 15ZM20.4927 9.25C20.4927 6.625 18.3677 4.5 15.7427 4.5H9.49268C6.86768 4.5 4.74268 6.625 4.74268 9.25V15.5C4.74268 18.125 6.86768 20.25 9.49268 20.25H15.7427C18.3677 20.25 20.4927 18.125 20.4927 15.5V9.25ZM18.9927 15.5C18.9927 17.25 17.4927 18.75 15.7427 18.75H9.49268C7.61768 18.75 6.24268 17.375 6.24268 15.5V9.25C6.24268 7.5 7.61768 6 9.49268 6H15.7427C17.4927 6 18.9927 7.5 18.9927 9.25V15.5Z" fill="#4ABCC4"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_167_14">
                                <rect width="25" height="25" fill="white" transform="translate(-0.00732422)"/>
                                </clipPath>
                            </defs>
                        </svg>     
            
