section.reviews_container.wrapper.wrapper_lg#review
    h2 Відгуки
    .reviews-wrapper.grid.col_4.gap_20#reviews(data-show-more data-item-selector=".review" data-button-selector=".show-more-btn" data-items-per-page="4")
        div.review
            picture 
                img(src="img/review.png", alt="")
        div.review
            picture 
                img(src="img/review.png", alt="")
        div.review
            picture 
                img(src="img/review.png", alt="")
        div.review
            picture 
                img(src="img/review.png", alt="")
    p.cta_container.gap_20
        a(href="https://g.page/r/CRovJRwARi3uEBM/review").cta.page_cta Залишити відгук
        a.cta.page_cta.transparent_cta.show-more-btn(data-target="reviews") Більше відгуків