doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="shortcut icon", href="img/logo.png", type="image/x-icon")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        title центр медичних послуг “пульсконтроль”  
    body 
        include components/header
        main 
            section.main_container
                .mask
                .wrapper.wrapper_lg
                    .main_block
                        h1 Ваш надійний центр приватної медицини в Хмельницькому
                        div
                            p Ми забезпечуємо комплексну амбулаторну допомогу:
                            ul.gap_40
                                li 
                                    span медичні довідки
                                li 
                                    span профілактичні огляди
                                li 
                                    span консультації вузьких спеціалістів
                                li 
                                    span сучасну діагностику
                        p
                            a(href="#form").cta.page_cta Записатися на прийом
            section.services_container.wrapper.wrapper_lg
                include components/services
                .dr_list
                    .flex.gap_20
                        p Гастроентеролог
                        p Дерматовенеролог
                        p Ендокринолог
                        p Кардіолог
                        p Невролог
                        p Ревматолог
                        p Терапевт
                        p Сімейний лікар
                        p Спортивний лікар
                        p Травматолог
                        p Хірург
                        p Нарколог
                        p Психіатр
                        p ЛОР
                        p Офтальмолог
                        p Гематолог
                        p Уролог
                        p Функціональна  діагностика
                        p Акушер-гінеколог
                        p Педіатр
                        p Денний  стаціонар-процедурний кабінет
                        p УЗД
                        p Профпатолог
            section.about_container
                .wrapper.wrapper_md#about
                    h2 центр медичних послуг “пульсконтроль”  
                    .grid.col_2.gap_20.items-center
                        picture 
                            img(src="img/about_1.jpg", alt="")
                        div.flex.info_block
                            h3 пульсконтроль — приватна клініка сучасного формату.
                            p Ми поєднуємо якісну медичну допомогу, новітнє обладнання та турботу про кожного пацієнта. У нас — лікарі з досвідом, зручний онлайн-запис, комфортні умови і прозорі ціни.
                            p
                                b Наша мета — зробити медицину доступною, безпечною та людяною.
                            a.cta.page_cta(href="#doctors_section") Обрати лікаря
                    .grid.col_2.gap_20.items-center
                        div.flex.info_block 
                            h3 Чому нам довіряють:
                            ul
                                li 
                                    b Комплексний підхід. 
                                    | Усі основні напрямки медицини в одному місці.
                                li 
                                    b Професіоналізм.
                                    | Лікарі з багаторічним досвідом і сучасним підходом до лікування.
                                li 
                                    b Прозорість. 
                                    | Вартість послуг наперед — без прихованих платежів.
                                li 
                                    b Сервіс.
                                    | Ми дбаємо про комфорт на всіх етапах — від запису до консультації.
                            a.cta.page_cta(href="#adv") Наші переваги
                        picture.order_1
                            img(src="img/about_2.jpg", alt="")
            include components/doctors
            section.adv_container#adv
                .wrapper.wrapper_lg 
                    h2 переваги приватної клініки “пульсконтроль” 
                    .grid.col_2.gap_20
                        .img_container.grid.col_2.gap_20
                            picture.span_2 
                                img(src="img/adv_1.jpg", alt="")
                            picture 
                                img(src="img/adv_2.jpg", alt="")
                            picture
                                img(src="img/adv_3.jpg", alt="")
                        .adv_list 
                            ul
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Профогляди з виїздом на установи, організації та підприємства
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Можливість отримання медичної довідки
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Комплексне обстеження (УЗД, ЕКГ, аналізи) 
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Консультація лікаря на дому з обстеженням
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Безперервний догляд протягом усього лікування
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Орієнтація на повне одужання пацієнта
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Турботливість і висока кваліфікація персоналу
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Прозорість та відкритість лікувального процесу
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Зручний розклад прийому спеціалістів
                                li.flex.items-center.gap_10 
                                    span.arrow
                                    p Комплексне лікування фізичного та психологічного стану
            include components/review
            section.order_container 
                .wrapper.wrapper_md 
                    h2 Записатися на прийом
                    .grid.col_2.gap_20 
                        .form_container
                            form(action="sendorder.php" method="post")#form
                                .grid.col_2.gap_20
                                    .name
                                        label(for='name') Ваше імʼя та прізвище
                                        input#name(type='text' name='userName' minlength='3' maxlength='30' required placeholder="Імʼя та прізвище")
                                        span.errorName
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                <circle cx="10" cy="10" r="10" fill="#E40808"/>
                                                <path d="M13 7.00002L7 13M6.99997 7L12.9999 13" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                    .phone
                                        label(for='phone') Номер телефону*
                                        input.phoneInput.inputMask(type='tel' name='userPhone' required maxlength='13' placeholder="+380")
                                        span.error
                                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                <path d="M1 9L9 1" stroke="#C61010" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M9 9L1 1" stroke="#C61010" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                    .type 
                                        label(for="type") Оберіть послугу 
                                        #type-select.custom-select-wrapper
                                            select(name='type' id="type" required)
                                                option(value='Медична довідка') Медична довідка
                                                option(value='Запис до лікаря') Запис до лікаря
                                            .custom-select
                                                .custom-selected
                                                .custom-options
                                    .date 
                                        label(for="date") Дата прийому
                                        input(type="date", id="date" name="date" required)
                                    .services_form.span_2
                                        label(for="service") Оберіть тип довідки
                                        #service-select.custom-select-wrapper
                                            select(name='service' id="service" required)
                                                option(value='для водія (форма 083/О)' data-type='Медична довідка') для водія (форма 083/О)
                                                option(value='для отримання дозволу на зброю (форма 127/0)' data-type='Медична довідка') для отримання дозволу на зброю (форма 127/0)
                                                option(value='для прийому на роботу (форма 086-у)' data-type='Медична довідка') для прийому на роботу (форма 086-у)
                                                option(value='особиста медична книжка форма 1-омк' data-type='Медична довідка') особиста медична книжка форма 1-омк
                                                option(value='про проходження психіатричного огляду (форма 100-2/0)' data-type='Медична довідка') про проходження психіатричного огляду (форма 100-2/0)
                                                option(value='до школи (форма 086/1-0)' data-type='Медична довідка') до школи (форма 086/1-0)
                                                option(value='абітурієнта (форма 086/0)' data-type='Медична довідка') абітурієнта (форма 086/0)
                                                option(value='для відвідування басейну' data-type='Медична довідка') для відвідування басейну
                                                option(value='для спортсменів (форма 062/0,061/0)' data-type='Медична довідка') для спортсменів (форма 062/0,061/0)
                                                option(value='про епідемологічне оточення, в гуртожиток' data-type='Медична довідка') про епідемологічне оточення, в гуртожиток
                                                option(value='особи, яка працює з пестицидами та агрохімікатами' data-type='Медична довідка') особи, яка працює з пестицидами та агрохімікатами
                                                option(value='Медична довідка дитині, що виїжджає в оздоровчий табір' data-type='Медична довідка') довідка дитині, що виїжджає в оздоровчий табір
                                                option(value='Дублікат медичної довідки' data-type='Медична довідка') Дублікат медичної довідки
                                            
                                                option(value='Богатирьова Вікторія Сергіївна (невропатолог)' data-type='Запис до лікаря') Богатирьова Вікторія Сергіївна (невропатолог)
                                                option(value='Сачалко Валентина Іванівна (Дерматовенеролог)' data-type='Запис до лікаря') Сачалко Валентина Іванівна (Дерматовенеролог)
                                                option(value='Камлук Петро Леонідович (Ортопед-травматолог, хірург)' data-type='Запис до лікаря') Камлук Петро Леонідович (Ортопед-травматолог, хірург)
                                                option(value='Стефанович Наталя Володимирівна (Лікар з ультразвукової діагностики (УЗД) / Ендокринолог)' data-type='Запис до лікаря') Стефанович Наталя Володимирівна (Лікар з ультразвукової діагностики (УЗД) / Ендокринолог)
                                            .custom-select
                                                .custom-selected
                                                .custom-options
                                .comment.span_2
                                    label(for="comment") Коментар до запису
                                    textarea(name="comment" id="comment" placeholder="Коментар...")
                                .cta_container 
                                    button.cta.page_cta(type="submit") Записатися
                        picture 
                            img(src="img/form_img.jpg", alt="") 
            section.map_container#contact
                .wrapper.wrapper_md
                    .contacts_map_block
                        .contacts_map 
                            h3 Наші контакти
                            a.flex.items-center.gap_10(href="tel:+380987474084")
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                    <path d="M13.979 11.431C13.979 11.683 13.923 11.942 13.804 12.194C13.685 12.446 13.531 12.684 13.328 12.908C12.985 13.286 12.607 13.559 12.18 13.734C11.76 13.909 11.305 14 10.815 14C10.101 14 9.338 13.832 8.533 13.489C7.728 13.146 6.923 12.684 6.125 12.103C5.32 11.515 4.557 10.864 3.829 10.143C3.108 9.415 2.457 8.652 1.876 7.854C1.302 7.056 0.84 6.258 0.504 5.467C0.168 4.669 0 3.906 0 3.178C0 2.702 0.0839999 2.247 0.252 1.827C0.42 1.4 0.686 1.008 1.057 0.658C1.505 0.217 1.995 0 2.513 0C2.709 0 2.905 0.042 3.08 0.126C3.262 0.21 3.423 0.336 3.549 0.518L5.173 2.807C5.299 2.982 5.39 3.143 5.453 3.297C5.516 3.444 5.551 3.591 5.551 3.724C5.551 3.892 5.502 4.06 5.404 4.221C5.313 4.382 5.18 4.55 5.012 4.718L4.48 5.271C4.403 5.348 4.368 5.439 4.368 5.551C4.368 5.607 4.375 5.656 4.389 5.712C4.41 5.768 4.431 5.81 4.445 5.852C4.571 6.083 4.788 6.384 5.096 6.748C5.411 7.112 5.747 7.483 6.111 7.854C6.489 8.225 6.853 8.568 7.224 8.883C7.588 9.191 7.889 9.401 8.127 9.527C8.162 9.541 8.204 9.562 8.253 9.583C8.309 9.604 8.365 9.611 8.428 9.611C8.547 9.611 8.638 9.569 8.715 9.492L9.247 8.967C9.422 8.792 9.59 8.659 9.751 8.575C9.912 8.477 10.073 8.428 10.248 8.428C10.381 8.428 10.521 8.456 10.675 8.519C10.829 8.582 10.99 8.673 11.165 8.792L13.482 10.437C13.664 10.563 13.79 10.71 13.867 10.885C13.937 11.06 13.979 11.235 13.979 11.431Z" fill="#4ABCC4"/>
                                </svg>
                                | +38 098 747 40 84
                            a.flex.items-center.gap_10(href="mailto:pulsecontrol@ukr.net")
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                                    <path d="M12 0C13.1046 0 14 0.895431 14 2V8C14 9.10457 13.1046 10 12 10H2C0.895431 10 1.61066e-08 9.10457 0 8V2C0 0.895431 0.895431 4.83192e-08 2 0H12ZM11.9443 2.23535C11.8293 2.01047 11.5743 1.93362 11.375 2.06348L7 4.91309L2.625 2.06348C2.42575 1.93365 2.17077 2.01054 2.05566 2.23535C1.94097 2.46013 2.00903 2.7471 2.20801 2.87695L7 6L11.792 2.87695C11.9909 2.74706 12.059 2.46009 11.9443 2.23535Z" fill="#4ABCC4"/>
                                </svg>
                                | pulsecontrol@ukr.net
                            p.flex.items-center.gap_10
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none">
                                    <path d="M5.5 0C8.53735 4.24034e-05 10.9998 2.42613 11 5.41895C11 8.40737 5.51686 13.9829 5.5 14C5.5 14 0 8.41197 0 5.41895C0.000224514 2.42611 2.46262 0 5.5 0ZM5.5 2.25781C3.72825 2.25781 2.29222 3.6732 2.29199 5.41895C2.29199 7.16488 3.72811 8.58105 5.5 8.58105C7.27185 8.58101 8.70801 7.16485 8.70801 5.41895C8.70778 3.67323 7.27171 2.25786 5.5 2.25781Z" fill="#4ABCC4"/>
                                </svg>
                                | м. Хмельницький, вул. Подільська, 10
                        .social_map 
                            h3 Ми у соцмережах
                            .flex.gap_20
                                a(href="#").tg
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                        <path class="path" d="M12.5248 0H12.4679C5.58205 0 0 5.5837 0 12.4715V12.5285C0 19.4163 5.58205 25 12.4679 25H12.5248C19.4106 25 24.9926 19.4163 24.9926 12.5285V12.4715C24.9926 5.5837 19.4106 0 12.5248 0Z" fill="#4ABCC4"/>
                                        <path d="M18.5376 9.04425V11.4047C18.1252 11.3644 17.5893 11.2707 16.9965 11.0535C16.2225 10.7697 15.6463 10.3817 15.2689 10.0813V14.8522L15.2593 14.8373C15.2654 14.9319 15.2689 15.0282 15.2689 15.1254C15.2689 17.4947 13.3417 19.4233 10.9723 19.4233C8.60289 19.4233 6.67566 17.4947 6.67566 15.1254C6.67566 12.7562 8.60289 10.8266 10.9723 10.8266C11.2043 10.8266 11.432 10.845 11.6544 10.881V13.2073C11.4408 13.1311 11.2113 13.0899 10.9723 13.0899C9.85063 13.0899 8.93737 14.0026 8.93737 15.1254C8.93737 16.2483 9.85063 17.161 10.9723 17.161C12.094 17.161 13.0072 16.2474 13.0072 15.1254C13.0072 15.0834 13.0063 15.0413 13.0037 14.9993V5.7282H15.3617C15.3705 5.9279 15.3784 6.12935 15.3871 6.32905C15.4029 6.72232 15.543 7.09981 15.7873 7.409C16.0736 7.77248 16.4965 8.19465 17.0902 8.53186C17.6462 8.8463 18.1681 8.98206 18.5376 9.046V9.04425Z" fill="white"/>
                                    </svg> 
                                a.fb(href="#") 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                        <g clip-path="url(#clip0_167_12)">
                                            <path class="path" d="M12.4927 0C5.61768 0 -0.00732422 5.625 -0.00732422 12.5C-0.00732422 18.75 4.61768 23.875 10.4927 24.875V16.125H7.36768V12.5H10.4927V9.75C10.4927 6.625 12.3677 4.875 15.2427 4.875C16.6177 4.875 17.9927 5.125 17.9927 5.125V8.25H16.3677C14.8677 8.25 14.3677 9.25 14.3677 10.25V12.5H17.8677L17.3677 16.125H14.4927V24.875C20.3677 23.875 24.9927 18.75 24.9927 12.5C24.9927 5.625 19.3677 0 12.4927 0Z" fill="#4ABCC4"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_167_12">
                                            <rect  width="25" height="25" fill="white" transform="translate(-0.00732422)"/>
                                            </clipPath>
                                        </defs>
                                    </svg> 
                                a.inst(href="#")
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                        <g clip-path="url(#clip0_167_14)">
                                            <path d="M12.4927 23.375C18.5678 23.375 23.4927 18.4501 23.4927 12.375C23.4927 6.29987 18.5678 1.375 12.4927 1.375C6.41754 1.375 1.49268 6.29987 1.49268 12.375C1.49268 18.4501 6.41754 23.375 12.4927 23.375Z" fill="white"/>
                                            <path  class="path" d="M12.4927 25C5.61768 25 -0.00732422 19.375 -0.00732422 12.5C-0.00732422 5.625 5.61768 0 12.4927 0C19.3677 0 24.9927 5.625 24.9927 12.5C24.9927 19.375 19.3677 25 12.4927 25ZM16.7427 7.375C16.2427 7.375 15.8677 7.75 15.8677 8.25C15.8677 8.75 16.2427 9.125 16.7427 9.125C17.2427 9.125 17.6177 8.75 17.6177 8.25C17.6177 7.75 17.2427 7.375 16.7427 7.375ZM12.6177 8.625C10.4927 8.625 8.74268 10.375 8.74268 12.5C8.74268 14.625 10.4927 16.375 12.6177 16.375C14.7427 16.375 16.4927 14.625 16.4927 12.5C16.4927 10.375 14.7427 8.625 12.6177 8.625ZM12.6177 15C11.2427 15 10.1177 13.875 10.1177 12.5C10.1177 11.125 11.2427 10 12.6177 10C13.9927 10 15.1177 11.125 15.1177 12.5C15.1177 13.875 13.9927 15 12.6177 15ZM20.4927 9.25C20.4927 6.625 18.3677 4.5 15.7427 4.5H9.49268C6.86768 4.5 4.74268 6.625 4.74268 9.25V15.5C4.74268 18.125 6.86768 20.25 9.49268 20.25H15.7427C18.3677 20.25 20.4927 18.125 20.4927 15.5V9.25ZM18.9927 15.5C18.9927 17.25 17.4927 18.75 15.7427 18.75H9.49268C7.61768 18.75 6.24268 17.375 6.24268 15.5V9.25C6.24268 7.5 7.61768 6 9.49268 6H15.7427C17.4927 6 18.9927 7.5 18.9927 9.25V15.5Z" fill="#4ABCC4"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_167_14">
                                            <rect width="25" height="25" fill="white" transform="translate(-0.00732422)"/>
                                            </clipPath>
                                        </defs>
                                    </svg> 
                        .grafik_map 
                            h3 Графік роботи
                            p 
                                b Пн-Пт 
                                | 8:00-18:00
                            p 
                                b Субота 
                                | 8:00-18:00
                            p 
                                b Неділя 
                                | Вихідний
                .map
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UUiICNPp5h7GeD8WnoyXUpRCAFgfmhw&ehbc=2E312F"></iframe>
                
        include components/footer
        script(src="js/scripts.js")