doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="shortcut icon", href="img/logo.png", type="image/x-icon")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        title Політика конфіденційності
    body 
        include components/header
        main.privacy_container
            h1 Політика конфіденційності
            .header_wrapper.wrapper
                p Цей документ встановлює правила збору, використання, обробки та збереження персональних даних, що надаються користувачами через форми запису на прийом на нашому сайті. Ми підтримуємо конфіденційність ваших персональних даних та гарантуємо їх захист у відповідності до законодавства України.
                .info_privacy
                    h2 1. Збір та використання персональних даних
                    p Центр медичних послуг "Пульсконтроль" збирає наступну персональну інформацію через форми запису на прийом:
                    ul
                        li Ім'я
                        li Номер телефону
                        li Дата запису
                        li Лікар, до якого здійснюється запис
                    p Ця інформація необхідна для забезпечення належної організації запису на прийом, зв'язку з клієнтом та надання послуг.
                .info_privacy
                    h2 2. Мета збору даних
                    p Ми використовуємо надані персональні дані виключно для наступних цiлей:
                    ul
                        li Підтвердження запису на прийом;
                        li Надання інформації про графік прийому;
                        li Комунікації щодо змін або уточнень запису;
                        li Поліпшення якості обслуговування.
                .info_privacy
                    h2 3. Захист персональних даних
                    p Ваші персональні дані захищені від несанкціонованого доступу, втрати чи розголошення. Ми використовуємо сучасні методи захисту, включаючи:
                    ul
                        li Шифрування даних;
                        li Контроль доступу до інформації;
                        li Регулярне оновлення систем безпеки.
                .info_privacy 
                    h2 4. Передача даних третім сторонам
                    p Ми не передаємо ваші персональні дані третім сторонам, за винятком випадків, передбачених законодавством України, або з вашої попередньої згоди.
                .info_privacy 
                    h2 5. Термін збереження даних
                    p Ваші персональні дані зберігаються протягом необхідного часу для досягнення зазначених у цій політиці цілей, але не довше, ніж це передбачено законодавством.
                .info_privacy 
                    h2 6. Ваші права
                    p Користувач має право:
                    ul
                        li Отримати інформацію про обробку своїх даних;
                        li Вимагати зміни, видалення чи обмеження обробки своїх персональних даних;
                        li Відкликати згоду на обробку даних у будь-який час.
                    p Для реалізації цих прав ви можете звернутися до нас через електронну пошту або номер телефону, зазначені на сайті.
                .info_privacy
                    h2 7. Контактна інформація
                    p Якщо у вас виникли запитання щодо нашої політики конфіденційності, звертайтеся за контактами, зазначеними на нашому сайті. 


        include components/footer
        script(src="js/scripts.js")